# output folder
/build/
/Final-Game-Windows/
/Advanced-Tic-Tac-Toe-v1.0.0-Windows/
/CMakeLists.txt.user/
/bar-chart.png/
/CMakeLists.txt.user/
/list.png/
/lock.png/
/logo.png/
/Play-Game.png/
/resources.qrc/
/settings.png/
/users.png/
/vs AI.png/
/vs player.png/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
